---
import { Image } from 'astro:assets';
import Logo from '../../public/assets/Logo.png';
---

<header class="container mx-auto px-4 py-6">
  <div class="flex items-center gap-2 justify-center md:justify-start">
    <!-- Responsive SVG Logo -->
    <svg class="w-auto h-auto max-w-[166px] max-h-[24px]" viewBox="0 0 166 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_2040_327)">
        <path d="M14.526 7.65378L23.5245 23.1328C23.7479 23.5261 24.3167 23.5361 24.5706 23.163L27.9019 18.0504C28.0237 17.8588 28.0339 17.6168 27.9222 17.4151L17.9487 0.302521C17.7151 -0.10084 17.126 -0.10084 16.8925 0.302521L13.9573 5.32437C13.8456 5.51597 13.6424 5.62689 13.4292 5.62689H7.29476C7.07132 5.62689 6.87835 5.73782 6.76663 5.92941L0.0837894 17.4454C-0.0279298 17.637 -0.0279298 17.8588 0.0837894 18.0504L3.35412 23.6975C3.46583 23.8891 3.66896 24 3.88224 24H17.0042C17.4714 24 17.7659 23.4958 17.5323 23.0924L14.5159 17.9193C14.2823 17.516 13.6932 17.516 13.4596 17.9193L11.1135 21.9731C10.8799 22.3765 10.2909 22.3765 10.0573 21.9731L7.78226 18.0504C7.67054 17.8588 7.67054 17.637 7.78226 17.4454L13.4596 7.66387C13.6932 7.2605 14.2823 7.2605 14.5159 7.66387L14.526 7.65378Z" fill="#FF802C"/>
        <path d="M52.4725 16.361H45.1386L43.7401 19.7266H40L47.0412 3.99902H50.6512L57.7086 19.7266H53.871L52.4725 16.361ZM51.3179 13.5941L48.8137 7.57495L46.3094 13.5941H51.3179Z" fill="#434343"/>
        <path d="M61.7722 4.01465H65.431V19.7422H61.7722V4.01465Z" fill="#434343"/>
        <path d="M80.6002 19.7422L77.5593 15.3573H74.1932V19.7422H70.5344V4.01465H77.3805C78.7789 4.01465 79.9985 4.24118 81.023 4.71042C82.0475 5.17966 82.8443 5.82688 83.3972 6.68446C83.9501 7.54203 84.2265 8.54523 84.2265 9.71024C84.2265 10.8752 83.9501 11.8784 83.3809 12.736C82.8118 13.5936 82.015 14.2246 80.9742 14.6777L84.5192 19.7261H80.584L80.6002 19.7422ZM79.6733 7.68766C79.1042 7.21842 78.2586 6.97571 77.1691 6.97571H74.1932V12.4609H77.1691C78.2748 12.4609 79.1042 12.2182 79.6733 11.749C80.2425 11.2636 80.5352 10.6002 80.5352 9.72642C80.5352 8.85266 80.2425 8.17308 79.6733 7.68766Z" fill="#434343"/>
        <path d="M104.025 4.01465L97.1791 19.7422H93.5691L86.7556 4.01465H90.7071L95.5205 15.244L100.399 4.01465H104.025Z" fill="#434343"/>
        <path d="M114.837 16.361H107.503L106.104 19.7266H102.364L109.405 3.99902H113.015L120.073 19.7266H116.235L114.837 16.361ZM113.682 13.5941L111.178 7.57495L108.674 13.5941H113.682Z" fill="#434343"/>
        <path d="M124.15 18.1404C122.898 16.8944 122.264 15.1308 122.264 12.8169V4.01465H125.923V12.6875C125.923 15.5029 127.094 16.9106 129.451 16.9106C130.59 16.9106 131.468 16.5708 132.07 15.8912C132.671 15.2117 132.964 14.1437 132.964 12.6875V4.01465H136.574V12.8169C136.574 15.1308 135.94 16.8944 134.688 18.1404C133.435 19.3863 131.679 20.0011 129.419 20.0011C127.159 20.0011 125.402 19.3863 124.15 18.1404Z" fill="#434343"/>
        <path d="M141.182 4.0152H144.841V16.7656H152.76V19.7266H141.182V3.99902V4.0152Z" fill="#434343"/>
        <path d="M157.282 6.97571H152.225V4.01465H165.998V6.97571H160.941V19.7261H157.282V6.97571Z" fill="#434343"/>
      </g>
      <defs>
        <clipPath id="clip0_2040_327">
          <rect width="165.998" height="24" fill="white"/>
        </clipPath>
      </defs>
    </svg>
  </div>
</header>
