---
import { Image } from "astro:assets";
import CloudImg from "../../public/assets/cloud-app.png";
import goImg from "../../public/assets/go-device.png";
import proImg from "../../public/assets/pro-device.png";
import Cloud from "../../public/assets/cloud.png";
---

<section class="bg-white py-24 lg:m-12 m-0">
  <div class="container mx-auto lg:px-4 px-6">
    <h2
      class="text-[#31323D] text-2xl md:text-3xl lg:text-4xl font-medium text-center max-w-4xl mx-auto mb-16 px-4"
    >
      Explore our wide selection of products that helps you preserve your
      memories, in your own style.
    </h2>

    <div class="grid lg:grid-cols-2 gap-6">
      {/* AirVault Cloud Card */}
      <div
        class="bg-white rounded-[2.5rem] p-8 lg:p-12 shadow-[0_0_50px_0_rgba(0,0,0,0.1)] relative overflow-hidden h-[700px] lg:h-[640px]"
      >
        <div class="lg:max-w-[60%] w-full">
          <h3 class="text-4xl lg:text-[2.5rem] leading-tight mb-6">
            <span
              class="bg-gradient-to-r from-[#4873FF] via-[#593CFF] to-[#FF3CCB] bg-clip-text text-transparent font-extrabold md:font-semibold"
              >AirVault Cloud</span
            >
            <span class="text-[#58585C]"
              >is built for people who like it to keep it</span
            >
            <span class="text-[#31323D]  font-extrabold md:font-semibold">simple.</span>
          </h3>
          <p class="text-[#64667A] text-lg lg:text-xl mb-8">
            AirVault Cloud lets you pack light on your trips so you can
            <span class="font-medium text-[#31323D]"
              >explore the world with just your phone.</span
            >
          </p>
          <button
            class="border-2 border-[#31323D] text-[#31323D] font-semibold px-6 lg:px-8 py-3 lg:py-4 rounded-full hover:bg-[#31323D] hover:text-white transition-colors"
          >
            Try AirVault Now
          </button>
        </div>
        <!-- Laptop Image (Top Right) -->
        <div
          class="hidden md:flex absolute lg:right-0 lg:bottom-0 justify-center lg:justify-end"
        >
          <Image
            src={CloudImg || "/placeholder.svg"}
            alt="AirVault Cloud App Interface"
            width={234}
            height={480}
            class="w-[180px] lg:w-[234px]"
          />
        </div>

        <!-- Mobile Image (Bottom, Attached to Edge) -->
        <div
          class="md:hidden absolute bottom-0 left-1/2 transform -translate-x-1/2 w-full flex justify-center"
        >
          <Image
            src={Cloud || "/placeholder.svg"}
            alt="AirVault Cloud App Interface"
            width={272}
            height={480}
            class="w-[272px]  lg:w-[272px] object-contain"
          />
        </div>
      </div>

      {/* AirVault Go Card */}
      <div
        class="bg-white rounded-[2.5rem] p-8 lg:p-12 shadow-[0_0_50px_0_rgba(0,0,0,0.1)] relative overflow-hidden h-[700px] lg:h-[640px]"
      >
        <div class="lg:max-w-[60%] w-full">
          <h3 class="text-4xl lg:text-[2.5rem] leading-tight mb-6">
            <span
              class="bg-gradient-to-r from-[#4873FF] via-[#593CFF] to-[#FF3CCB] bg-clip-text text-transparent font-extrabold md:font-semibold"
              >AirVault Go</span
            >
            <span class="text-[#58585C]"
              >is built for people who like to keep it</span
            >
            <span class="text-[#31323D] font-extrabold md:font-semibold">close.</span>
          </h3>
          <p class="text-[#64667A] text-lg lg:text-xl mb-8">
            AirVault Go lets you
            <span class="font-medium text-[#31323D]"
              >keep all your memories in your pocket</span
            >, so you can take them with you even on the craziest of adventures.
          </p>
          <button
            class="border-2 border-[#31323D] text-[#31323D] font-semibold px-6 lg:px-8 py-3 lg:py-4 rounded-full hover:bg-[#31323D] hover:text-white transition-colors"
          >
            Try AirVault Now
          </button>
        </div>
        <div
          class="-right-10 md:right-0 bottom-12 lg:mt-12 absolute flex lg:justify-end"
        >
          <Image
            src={goImg || "/placeholder.svg"}
            alt="AirVault Go Device"
            width={313}
            height={358}
            class="w-[240px] lg:w-[313px]"
          />
        </div>
      </div>
    </div>

    {/* AirVault Pro Card */}
    <div
      class="bg-white rounded-[2.5rem] p-8 lg:p-12 shadow-[0_0_50px_0_rgba(0,0,0,0.1)] mt-6 relative overflow-hidden h-[907px] lg:h-[640px]"
    >
      <div class="lg:max-w-[50%] w-full">
        <h3 class="text-4xl lg:text-[2.5rem] leading-tight mb-6">
          <span
            class="bg-gradient-to-r from-[#FF9900] via-[#F54545] to-[#B41FFF] bg-clip-text text-transparent font-extrabold md:font-semibold"
            >AirVault Pro</span
          >
          <span class="text-[#58585C]"
            >is built for people who are hungry for</span
          >
          <span class="text-[#31323D] font-extrabold md:font-semibold">power.</span>
        </h3>
        <p class="text-[#64667A] text-lg lg:text-xl mb-8">
          AirVault Pro brings together the power of distributed hosting into a
          single compact package, allowing your team to
          <span class="font-medium text-[#31323D]"
            >simultaneously access all your files at blazing fast speed!</span
          >
        </p>
        <button
          class="border-2 border-[#31323D] text-[#31323D] font-semibold px-6 lg:px-8 py-3 lg:py-4 rounded-full hover:bg-[#31323D] hover:text-white transition-colors"
        >
          Try AirVault Now
        </button>
      </div>
      <div
        class="mt-12 lg:mt-0 absolute right-0 bottom-20 flex md:bottom-0 lg:justify-end"
      >
        <Image
          src={proImg || "/placeholder.svg"}
          alt="AirVault Pro Device"
          width={717}
          height={551}
          class="w-[300px] lg:w-[717px]"
        />
      </div>
    </div>
  </div>
</section>
